@charset "utf-8";

/* ===============
 Common 
================*/
html {
    font-size: 100%;
    font-family: 'Marcellus', serif;
    background-color: #f0f0f0;
}

a {
    color: inherit;
    text-decoration: none;
}

#container {
    background-image: url(../img/common/background-image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ===============
 Top
===============*/
#top {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/common/top-background-img2.png);
    background-position: bottom left;
    background-color: #fff;
    background-size: cover;
    color: rgb(83, 83, 83);
}

header {
    height: 7.5%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 3px dashed rgb(83, 83, 83);
}

header>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*
    border-left: 3px dashed white;
    border-right: 3px dashed white;
    */
}

.top-wrapper {
    margin: 0 5%;
    width: 90%;
    height: 85%;
    /*border-left: 3px dashed white;
    border-right: 3px dashed white;*/
}

#top-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#top-title p {
    display: inline-block;
    font-weight: normal;
    font-size: 4.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#top-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40%;
    justify-content: space-around;
    align-content: center;
}

#top-menu a {
    font-size: 3.8rem;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #777;
}

#top-menu>a:hover {
    color: rgb(83, 83, 83);
}

#top-bottom {
    width: 100%;
    height: 7.5%;
    padding: 0 5%;
    /*border-top: 3px dashed white;*/
}

#top-bottom>p {
    width: 100%;
    height: 100%;
    /*border-left: 3px dashed white;
    border-right: 3px dashed white;*/
}

/* ===============
 Section Common
 ===============*/
.section {
    /*border-top: 2px dashed gray;*/
    padding: 0 15%;
}

.section>h2 {
    font-size: 3rem;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ===============
 Profile 
 ===============*/
#profile {
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#profile-box {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px dashed black;
    background-color: white;
    border-radius: 20px;
}

#profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#profile-image>img {
    max-width: 200px;
    max-height: 200px;
}

#profile-description {
    width: 60%;
    font-size: 1.3rem;
}

#profile-name {
    font-size: 1.7rem;
    text-decoration: underline;
    margin-bottom: 3px;
}

#profile-description>p>span {
    font-size: 1rem;
}

#profile-description p span a {
    color: #0000EE;
    text-decoration: underline;
}


/* ===============
 Skills
 =============== */
#skills {
    width: 100vw;
    height: 100vh;
    min-height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#skills-contents {
    width: 100%;
    height: 70%;
    display: flex;
    padding-bottom: 5%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed black;
    border-radius: 20px;
    background-color: #fff;
}

#skills-contents hr {
    width: 500px;
}

#skills-contents p {
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* normal */

.skills-item {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
}

.skills-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 5%;
}

.skills-image>img {
    width: 50px;
}

#apache-icon {
    width: 30px;
}

/* License */
#license-items ul {
    font-size: 1.3rem;
    list-style-type: none;
    text-align: center;
}

#license-items ul li {
    margin-bottom: 3px;
}

/* ===============
 Works 
===============*/
#works {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

/*==================================================
スライダーのためのcss
===================================*/
/* メイン画像下に余白をつける */
.gallery {
    width: 60%;
    margin: 0 auto 20px auto;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2;
}

.gallery li {
    list-style: none;
}

.gallery a {
    display: inline-block;
}

.gallery li span {
    font-size: 1rem;
    text-decoration: underline;
}

/* 画像の横幅を100%にしてレスポンシブ化 */
ul img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: outset 3px #a0a0a0;
    background-color: #fff;
    transition: 1s all;
}

ul img:hover {
    transform: scale(1.05, 1.05);
    transition: 1s all;
    border: none;
}

/* 矢印の設定 */

/* 戻る、次へ矢印の位置 */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 3;
    top: 50%;
    cursor: pointer;
    outline: none;
    border-top: 4px solid #aaa;
    border-right: 4px solid #aaa;
    height: 35px;
    width: 35px;
}

.slick-prev {
    left: -6%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -6%;
    transform: rotate(45deg);
}

/* 選択するサムネイル画像の設定*/

.choice-btn li {
    cursor: pointer;
    outline: none;
    background: #333;
    width: 10% !important;
    list-style: none;
}

.choice-btn li img {
    opacity: 0.2;
}

.choice-btn li.slick-current img {
    opacity: 1;
}

.choice-btn .slick-track {
    transform: unset !important;
}

/* ----- モーダルウィンドウの設定 ----- */
/*hideエリアをはじめは非表示*/
.hide-area {
    display: none;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
    background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #666;
}

/* モーダルウィンドウ・ウィンドウ設定*/
.modaal-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modaal-content-container h2 {
    text-decoration: underline;
    margin: 5px;
}

.modaal-content-container img {
    width: 90%;
    border: outset 5px #c0c0c0;
}

.modaal-content-container p {
    margin-top: 8px;
}

.modaal-content-container p span {
    font-weight: bold;
    text-decoration: underline;
}

.modaal-content-container p a {
    color: #0000EE;
    text-decoration: underline;
}

/* ===============
 footer 
===============*/
footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: white;
}